@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark: #222831;
    --light: #EEEEEE;
    --menu-itens-transparent: #ffffff08;
    --primary-color: #F05454;
    --input-color: #e0e0e0;
}

body {
	background-color: var(--light);
	padding: 0px;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	line-height: 1.375em;
	user-select: none;
	margin: 0px;
}

img {
	-webkit-user-drag: none;
}

.app {
    display: flex;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.body-wrapper {
	display: flex;
	flex-direction: column;
    flex: 1 1 auto;
}

.body-header {
	border-bottom: 1px solid #00000014;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    padding: 8px;
}

.body {
	display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

.body-content {
	display: flex;
    flex: 0 1 auto;
    min-height: 0;
}

.detail-wrapper {
	flex: 1 1 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	display: flex;
    flex-direction: column;
	flex: 1 1 auto;
}

.table {
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

.table tr:nth-child(even){background-color: #D9ECF2;}

.table tr:hover {background-color: #ddd;}

.table th {
	background-color: var(--dark);
	color: whitesmoke;
	padding: 8px;
	/*text-align: left;*/
}

.table td {
	padding: 8px;
	text-align: center;
	word-break: break-word;
}

.table a {
	color: var(--dark);
}

.td-actions {
	column-gap: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 16px;
}

/*
	Sidebar
*/
.sidebar {
    background-color: var(--dark);
    display: flex;
    flex: 0 1 auto;
}

.sidebar-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.fit-flex-container {
    flex: 1 1 auto;
}

.sidebar-item {
    align-items: center;
    background-color: var(--menu-itens-transparent);
    border-radius: 4px;
    color: var(--light);
    cursor: pointer;
    display: flex;
    margin: 6px 8px;
	text-decoration: none;
}

.sidebar-item:hover {
    background-color: var(--light);
    color: var(--dark-sidebar);
}

.sidebar-menu-item {
    padding: 8px 16px;
}

.sidebar-button {
    padding: 8px 16px;
    white-space: nowrap;
}

.sidebar-extras-header {
    display: flex;
    border-bottom: 1px solid #0000002a;
}

.sidebar-welcome {
    align-items: center;
    color: var(--light);
    display: flex;
    flex: 1 1 auto;
}

.sidebar-extras-footer {
    border-top: 1px solid #0000002a;
}

/*
	Modal	
*/
.modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000059;
    z-index: 2021;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-wrapper {
    display: flex;
    justify-content: space-evenly;
	
}

.modal {
    background-color: var(--light);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: center;
}

.modal-header {
	border-bottom: 1px solid #00000030;
	display: flex;
}

.modal-body {
	display: flex;
    flex-direction: column;
}

form {
	padding: 8px;
}

form input {
	background-color: var(--input-color);
	border: none;
	border-bottom: 1px solid var(--dark);
	font-family: 'Nunito', sans-serif;
    padding: 16px;
}

form input[type=submit] {
	border: none;
	background-color: var(--dark);
	color: whitesmoke;
	cursor: pointer;
	padding: 8px 16px;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	text-align: center;
}

.scroller {
	overflow: hidden scroll;
}

.scroller-base {
	box-sizing: border-box;
	flex: 1 1 auto;
	min-height: 0;
	position: relative;
    -webkit-box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
}

.scroller::-webkit-scrollbar {
	height: 4px;
	width: 4px;
}
.scroller::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    border-radius: 4px;
}


.card-group {
	flex-direction: column;
	gap: 8px 0px;
}

.card-group.p-visual .card:nth-child(even){background-color: #D9ECF2;}

.card {
	padding: 8px;
}

.bg-primary {
	background-color: var(--primary-color);
	color: var(--light);
}

.btn {
	border: none;
	cursor: pointer;
	padding: 8px 16px;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	text-align: center;
}

.btn-primary {
	background-color: var(--dark);
	color: whitesmoke;
}

.btn-danger {
	background-color: var(--primary-color);
	color: whitesmoke;
}

.text-center {
	text-align: center;
}

.items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.d-flex {
	display: flex;
}

.flex-dir-row {
	flex-direction: row;
}

.flex-dir-col {
	flex-direction: column;
}

.d-none {
	display: none;
}

.p-8 {
	padding: 8px;
}

.gap-8 {
	column-gap: 8px;
}

.logo {
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
    display: flex;
    font-size: xxx-large;
    height: 3em;
    justify-content: center;
    width: 3em;
}

.warning-message {
    color: var(--primary-color);
}

.icon {
    padding: 0px 8px;
}

.mb-8 {
	margin-bottom: 8px;
}

.flex-sg-auto {
	flex: 1 1 auto;
}

@media screen and (max-width: 900px) {
  .sidebar-button {
    display: none;
  }
  .sidebar-item {
  	justify-content: center;
  }
  .icon {
      font-size: larger;
      padding: 8px;
  }
}